.item{
    min-height: 10rem;
    min-width: 25%;
    padding: 5px;
}
.item img {
    width: 100%;
    height: 100%;
}
.inner-carousel{
    display: flex;
}
.carousel {
    cursor: grab;
    overflow: hidden;
}
.carousel-div {
    width: 1000px;
}
