.black {
  background-color: black;
  height: 430px;
}
.white {
  height: 430px;
  padding: 0;
}
img {
  width: auto;
  max-height: 100%;
}
.text,
.text-h3 {
  color: white;
}
.text {
  padding-right: 100px;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: red;
}
.carousel-control-prev-icon {
  opacity: 0;
}
.carousel-control-next-icon {
  opacity: 0;
}
.div-text {
  margin-top: 125px;
}
